@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'montserrat', system-ui, sans-serif;
  color-scheme: light dark;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {

}





/* Optional custom link/button styles */




  
